<h2 style="color:crimson;">Historial</h2>

<% if(personas.length > 0){ %> 
    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color: yellow;"> <th>Nombre</th> <th>Apellido</th> <th>Edad</th> </tr>
            <!-- filas -->
            <% for (const persona of personas) {%> 
            <tr> 
                <td><%=persona.nombre %> </td>
                <td><%=persona.apellido %> </td>
                <td><%=persona.edad %> </td>
            </tr>
            <% } %> 
            <!-- Fin filas -->
        </table>
    </div>
<% } else { %> 
    <h3 class="alert alert-danger">No se encontraron dato</h3>
<% } %> 