<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Header</h1>

    <div id="contenedor">
        <!-- Contenido dinamico -->
    </div>

    <h1>Footer</h1>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script>
        const template = Handlebars.compile('<h3>{{mensaje}} se agrega: {{texto}}</h3>');
        let mensaje = 'Lorem ipsum dolor sit amet.';
        let texto = 'Coder House, democratizando la educacion! :D';
        const htmlGenerado = template({mensaje: mensaje, texto: texto});
        document.querySelector('#contenedor').innerHTML = htmlGenerado;
    </script>
</body>
</html>