<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="container mt-3">
        <div class="jumbotron">
            <!-- Formulario -->
            <%- include('./partials/historial') %> 
            <!-- Historial -->
        </div>
    </div>

    <script src="js/main.js"></script>
</body>
</html>