<h1>{{title}}</h1>
<p>Ingrese {{title}}</p>
<hr>

<form action="/products" method="post">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" class="form-control" name="nombre">
    </div>

    <div class="form-group">
        <label for="precio">Precio</label>
        <input type="text" id="precio" class="form-control" name="precio">
    </div>

    <button class="btn btn-primary mt-3">Enviar</button>
</form>
